body {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto
}

form {
	width: 500px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	margin-left: 100px;
	margin-top: 30px;
}

fieldset {
	width: 50%;
}


.customerOrder {
	width: 100px;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #4adbdb;
	border-radius: 5px;
	background-color: #ffd5fb;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}