body {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto
}

form {
	width: 500px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	margin-left: 100px;
	margin-top: 30px;
}

fieldset {
	width: 50%;
}


.customerOrder {
	background-color: #ffdaec;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  color: #333;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.customerOrder:hover {
  background-color: #ffe6f2;
}

.payment-info {
  background-color: #ffdaec;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: #333;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.payment-info:hover {
  background-color: #ffe6f2;
}

.earnings-info {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #ffdaec;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: #333;
  width: 150px;
  text-align: center;
}